{
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true,
  },
  "globals": {
    "expect": false
  },
  "rules": {
    "semi": [2, "never"],
    "strict": 0,
    "camelcase": 0,
    "quotes": [2, "single"],
    "comma-dangle": 0,
    "jsx-quotes": [2, "prefer-single"],
    "key-spacing": 0,
    "new-cap": [2, {"capIsNew": false}],
    "no-console": 0,
    "no-extra-semi": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-multi-spaces": 0,
    "no-redeclare": [2, {"builtinGlobals": true}],
    "no-trailing-spaces": 0,
    "no-undef": 2,
    "no-unreachable": 2,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "space-before-function-paren": [2, "always"],
    "react/jsx-boolean-value": [2, "never"],
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": [2, {
      "order": [
        "constructor",
        "lifecycle",
        "everything-else",
        "/^on.+$/",
        "/^render.+$/",
        "render"
      ]
    }],
    "react/wrap-multilines": 2
  }
}
